    @model ReservationsCreateViewModel
@{
    ViewData["Title"] = @Translations.Reservation;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Reservation Id</th>
                        <th>Reserved from</th>
                        <th>Reserved to</th>
                        <th>Fitness room</th>
                        <th>User</th>
                        <th>Coach</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservation in Model.Reservations)
                    {
                        <tr>
                            <td>@reservation.Id</td>
                            <td>@reservation.DateTimeFrom.ToString()</td>
                            <td>@reservation.DateTimeTo.ToString()</td>
                            <td>@reservation.FitnessRoomId</td>
                            <td>@reservation.UserId</td>
                            <td>@reservation.CoachId</td>
                            <td>
                            <a asp-action="Edit" asp-controller="Reservations"                                                                            asp-route-ReservationId=@reservation.Id asp-route-CoachId=@reservation.CoachId asp-route-UserId=@reservation.UserId>Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
