@using FitnessCenter.Web.Utilities.Constants
@model SupplementsIndexViewModel
@inject UserManager _userManager
@{
    ViewData["Title"] = @Translations.Supplements;
}
@if (_userManager.IsInRoles(Role.Administrator))
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary d-flex
justify-content-between align-items-center">
                @ViewData["Title"]
                <a asp-action="Manage" asp-controller="Supplements" class="btn btn-sm btn-primary">
                    <i class="fas fa-plus"></i>
                    @Translations.Add
                </a>
            </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <td>Name</td>
                                    <td>Description</td>
                                    <td>Price</td>
                                    <td>Photo</td>
                                    <td>Action</td>
                    </thead>
                    <tbody>
                        @if (Model.Supplements.Any())
                        {
                            foreach (var supplement in Model.Supplements)
                            {
                                <tr>
                                    <td>@supplement.Name</td>
                                    <td>@supplement.Description</td>
                                    <td>@supplement.Price</td>
                                    <td class="action-column">
                                        <img class="rounded" src="@Url.Action("Index","Photos",new {id=supplement.PhotoId})" width="30" height="30" />
                                    </td>
                                    <td class="action-column">
                                        <a asp-action="Manage" asp-controller="Supplements"
                               asp-route-id="@supplement.Id"
                               class="btn btn-sm btn-outline-primary">
                                            @Translations.Edit
                                        </a>
                                        <a asp-action="Delete" asp-controller="Supplements" asp-route-id="@supplement.Id"
                               class="btn btn-outline-danger btn-sm ">
                                            @Translations.Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center">@Translations.NoResultsToShow</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
   
         <h5 class="m-0 font-weight-bold text-primary d-flex
justify-content-between align-items-center"> @Translations.ChooseASupplement
         </h5>
        <div class="container">
            <div class="row">
                @if (Model.Supplements.Any())
                {
                    foreach (var supplement in Model.Supplements)
                    {
                        <div class="col-lg-3 col-sm-6">
                            <br>
                            <div class="customCard" style="width: 16rem;">
                                <img class="card-img-top" src="@Url.Action("Index","Photos",new {id=supplement.PhotoId})"/>
                                <div class="card-body">
                                    <center>
                                        <h5 class="card-title">@supplement.Name</h5>
                                        <p class="card-text">@supplement.Description</p>
                                        <a href="#" class="btn btn-primary">Add to cart</a>
                                    </center>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
        {
            <h3 style="margin-top:25%; margin-left:40%">@Translations.NoResultsToShow</h3>
        }
            </div>
        </div>

}

