@using FitnessCenter.Web.Utilities.Constants
@model EventsIndexViewModel
@inject UserManager _userManager
@{
    ViewData["Title"] = @Translations.Events;
}
@if (_userManager.IsInRoles(Role.Administrator))
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary d-flex
justify-content-between align-items-center">
                @ViewData["Title"]
                <a asp-action="Manage" asp-controller="Events" class="btn btn-sm btn-primary">
                    <i class="fas fa-plus"></i>
                    @Translations.Add
                </a>
            </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                        @if (Model.Events.Any())
                        {
                            foreach (var events in Model.Events)
                            {
                                <tr>
                                    <td>@events.Name</td>
                                    <td>@events.About</td>
                                    <td>@events.Description</td>
                                    <td>@events.Rate</td>
                                    <td class="action-column">
                                        <img class="rounded" src="@Url.Action("Index","Photos",new {id=events.PhotoId})" width="30" height="30" />
                                    </td>
                                    <td class="action-column">
                                        <a asp-action="Manage" asp-controller="Reservations"
                               asp-route-id="@events.Id"
                               class="btn btn-sm btn-outline-primary">
                                            @Translations.Edit
                                        </a>
                                        <a asp-action="Delete" asp-controller="Reservations" asp-route-id="@events.Id"
                              class="btn btn-outline-danger btn-sm ">
                                            @Translations.Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center">@Translations.NoResultsToShow</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    
         <h5 class="m-0 font-weight-bold text-primary d-flex
justify-content-between align-items-center"> @Translations.AvailableEvents
         </h5>
        <div class="container">
            <div class="row">
                @if (Model.Events.Any())
                {
                    foreach (var events in Model.Events)
                    {
                        <div class="col-lg-3 col-sm-6">
                            <br>
                            <div class="customCard" style="width: 16rem;">
                                <img class="card-img-top" src="@Url.Action("Index","Photos",new {id=events.PhotoId})"/>
                                <div class="card-body">
                                    <center>
                                        <h5 class="card-title">@events.Name</h5>
                                        <a asp-action="View" asp-controller="Events" asp-route-id="@events.Id" class="btn btn-primary">View event</a>
                                    </center>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
 
}

