    @model EventsIndexViewModel
@{
    var _event = @Model.Event;
    ViewData["Title"] = @Translations.Events;
}
<h5 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center" style="padding-bottom:5px;">
    @_event.Name</h5>
<div class="card-body shadow" style="width:20%; float:left;">
    <div class="card-img">
    <img class="card-img-top" src="@Url.Action("Index","Photos",new {id=_event.PhotoId})"/>
    </div>
    <div class="card-text">
        <div style="font-weight:bold">@Translations.Location: </div> 
                <div style="padding-bottom:5px;">@_event.Location</div> 
       <div style="font-weight:bold">@Translations.About:</div> 
        <div>@_event.About </div> 
    </div>
</div>
<div class="card-body shadow" style="width:20%; float:right;">
    <div class="card-img">
    <img class="card-img-top" src="@Url.Action("Index","Photos",new {id=_event.PhotoId})"/>
    </div>
    <div class="card-text">
        <div style="font-weight:bold">@Translations.Location: </div> 
        <div style="padding-bottom:5px;">@_event.Location</div> 
          <div style="font-weight:bold">@Translations.About:</div> 
        <div>@_event.About </div>  
    </div>
</div>
<div class="card-body shadow" style="width:60%; margin-left:20% ">
    <div class="card-text">
        <h5 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center" style="padding-bottom:25px;">
    @Translations.LeaveAReview</h5>
       <div>
           <p style="font-weight:bold"> @Translations.Rate</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
       </div>
            <div style="margin-top:20px;">
           <p style="font-weight:bold"> @Translations.Description</p>
            <div class="form-group">
                <textarea class="form-control" cols="20" id="Description" name="Description" rows="3"> </textarea>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">@Translations.Review</button>
    </div>
</div>


